body {
   background-color: black;
}

* {
    color: white;
}
.player_score, .comp_score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
}

.header p {
    font-size: 36px;
    text-shadow: 0 0 15px #FF0000;
}

.footer {
    height: 100px;
}
.footer img {
    visibility: hidden;
}

.rps-main img {
    width: 100%;
    height: auto;
    min-width: 85px;
    padding: 0;
    border-radius: 50%;
    background-color: #4284f5;
}

.rps-main img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(2 173 164);
    border-radius: 50%;
}


.winner {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.rps-comp img {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 50%;
    background-color: #e6fa84;
}

#comprock {
    visibility: hidden;
}

#comppaper {
    visibility: hidden;
}

#compscissors {
    visibility: hidden;
}

.site-container {
    display: flex;
    justify-content: center;
}

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.rps-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap:nowrap;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 0;
}

.rps-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}